/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #111; /* Dark background */
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #222; /* Darker background for the header */
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

h1 {
    color: #4800ff; /* new primary color (#4800ff) */
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

/* Navigation styles */
nav ul {
    background-color: #222; /* Darker background for navigation */
    text-align: center;
    padding: 20px 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #4800ff; /* new primary color (#4800ff) on hover */
}

/* Section styles */
section {
    padding: 40px;
}

h2 {
    color: #4800ff; /* new primary color (#4800ff) */
    font-size: 28px;
    margin-bottom: 20px;
}

/* Portfolio project styles */
.project {
    margin-bottom: 20px;
    background-color: #222; /* Dark background for each project */
    padding: 20px;
    border-radius: 5px;
    display: none; /* Hide project descriptions by default */
}

.project h3 {
    color: #4800ff; /* primary color (#4800ff) for project titles */
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}

.project-images img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.project-link p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

/* Horizontal project list */
.project-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project-item {
    text-align: center;
    cursor: pointer;
}

.project-item img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* Footer styles */
footer {
    background-color: #222; /* Dark background for footer */
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

footer p {
    font-size: 16px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
}

footer a {
    color: #4800ff; /* primary color (#4800ff) for links in the footer */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #3700d0; /* Darker shade for link hover effect */
}